.site-header {
  .site-title {
      a {
      color: var(--acid-color);
      font-family: 'Pilowlava'; 
			font-size: 19px;
      font-size: 165px;
      transition: all 350ms;
        &:hover { 
          text-decoration: none;
        }
      }
  }
}