@import './animations.scss';

//backgrounds

.croxo-background-transparent {
	background-color: transparent;
}

.croxo-background-transparent--deep {
	background-color: transparent;

	* {
		background-color: transparent;
	}
}

.croxo-background-transparent--deep--imporant {
	background-color: transparent !important;

	* {
		background-color: transparent !important;
	}
}

//colors

.croxo-color-text {
	color: #212529;
}

.croxo-color-white {
	color: white;
}

.croxo-color-transparent {
	color: transparent;
}

.croxo-color-transparent--deep {
	color: transparent;

	* {
		color: transparent;
	}
}

.croxo-color-transparent--deep--important {
	color: transparent !important;

	* {
		color: transparent !important;
	}
}

.croxo-color-text--deep {
	color: #212529;

	* {
		color: #212529;
	}
}

.theme-color {
	color: var(--acid-color);
	transition: all 350ms;
}

.theme-color--fill {
	fill: var(--acid-color);
	transition: all 350ms;
}


.theme-color--fill--deep {
	fill: var(--acid-color);
	transition: all 350ms;

	* {
		fill: var(--acid-color);
		transition: all 350ms;
	}
}

.theme-color--deep {
	color: var(--acid-color);
	transition: all 350ms;

	* {
		color: var(--acid-color);
		transition: all 350ms;
	}
}

.background-theme-color {
	background-color: var(--acid-color);
}

.border-color-theme-color {
	border-color: var(--acid-color);
}

.border-theme-color {
	border: 2px solid var(--acid-color);
}

.border-x-theme-color {
	border-left: 2px solid var(--acid-color);
	border-right: 2px solid var(--acid-color);
}

.border-y-theme-color {
	border-bottom: 2px solid var(--acid-color);
	border-top: 2px solid var(--acid-color);
}

.border-b-theme-color {
	border-bottom: 2px solid var(--acid-color);
}

.border-t-theme-color {
	border-top: 2px solid var(--acid-color);
}

.border-t-theme-color-sm-0 {
	@include media-breakpoint-up(sm) {
		border-top: 2px solid var(--acid-color);
	}
}

.border-theme-color--hover {
	border: 2px solid #ffffff00;
	transition: border 350ms;

	&:hover {
		border: 2px solid var(--acid-color);
	}
}

.border-top-theme-color {
	border-top: 2px solid var(--acid-color);
}

.border-theme-color--important {
	border: 2px solid var(--acid-color) !important;
}



//cursor

.c-pointer {
	cursor: pointer;
}

//flex

.flexone {
	flex: 1;
}

.flextwo {
	flex: 2;
}

.flexthree {
	flex: 3;
}

.flexfour {
	flex: 4;
}

.flexfive {
	flex: 5;
}

.flexsix {
	flex: 6;
}

.row-gap-20 {
	row-gap: var(--wp--preset--spacing--20);
}

.row-gap-30 {
	row-gap: var(--wp--preset--spacing--30);
}

.row-gap-40 {
	row-gap: var(--wp--preset--spacing--40);
}

.row-gap-50 {
	row-gap: var(--wp--preset--spacing--50);
}

.row-gap-60 {
	row-gap: var(--wp--preset--spacing--60);
}

.row-gap-70 {
	row-gap: var(--wp--preset--spacing--70);
}

.row-gap-80 {
	row-gap: var(--wp--preset--spacing--80);
}

.row-gap-90 {
	row-gap: var(--wp--preset--spacing--90);
}

.column-gap-20 {
	column-gap: var(--wp--preset--spacing--20);
}

.column-gap-30 {
	column-gap: var(--wp--preset--spacing--30);
}

.column-gap-40 {
	column-gap: var(--wp--preset--spacing--40);
}

.column-gap-50 {
	column-gap: var(--wp--preset--spacing--50);
}

.column-gap-60 {
	column-gap: var(--wp--preset--spacing--60);
}

.column-gap-70 {
	column-gap: var(--wp--preset--spacing--70);
}

.column-gap-80 {
	column-gap: var(--wp--preset--spacing--80);
}

.column-gap-90 {
	column-gap: var(--wp--preset--spacing--90);
}

//TODO: deprecate above gaps classes

@for $i from 1 through 20 {
	.row-gap-#{$i} {
		row-gap: calc($i * 6px);
	}

	.column-gap-#{$i} {
		column-gap: calc($i * 6px);
	}
}

//hovers

.croxo-underline-hover {
	position: relative;

	&:hover {
		&::after {
			width: 100%;
		}
	}

	&::after {
		background: var(--acid-color);
		bottom: 0;
		content: ' ';
		left: 0;
		height: 1px;
		margin-left: 2px;
		position: absolute;
		transition: all 350ms;
		width: 0%;
	}
}

.croxo-underline-hover--right {
	position: relative;

	&:hover {
		&::after {
			width: 100%;
		}
	}

	&::after {
		background: var(--acid-color);
		bottom: 0;
		content: ' ';
		right: 0;
		height: 1px;
		margin-left: 2px;
		position: absolute;
		transition: all 350ms;
		width: 0%;
	}
}

.croxo-underline-hover--width-fit {
	position: relative;
	width: fit-content;

	&:hover {
		&::after {
			width: 100%;
		}
	}

	&::after {
		background: var(--acid-color);
		bottom: 0;
		content: ' ';
		left: 0;
		height: 1px;
		margin-left: 2px;
		position: absolute;
		transition: all 350ms;
		width: 0%;
	}
}

//img behaviours

.img-cover {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

//material icons

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 700,
		'GRAD' 200,
		'opsz' 24
}

.material-symbols-filled {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.material-symbols-medium {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.material-symbols-light {
	font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' 0,
		'opsz' 24
}

//opacity

.transparent {
	opacity: 0;
}

//pointer events
.p-events-none {
	pointer-events: none;
}

.p-events-none--deep {
	pointer-events: none;

	* {
		pointer-events: none;
	}
}

.p-events-all {
	pointer-events: all;
}

.p-events-all--deep {
	pointer-events: all;

	* {
		pointer-events: all;
	}
}

//positioning

.absolute-stretch {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.fixed-stretch {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.sticky-top {
	position: sticky;
	top: 120px;
	z-index: 0;
}

@for $i from 1 through 20 {

	//TODO: insert other positions
	.p-top-#{$i} {
		top: calc($i * 6px);
	}
}

@for $i from 1 through 20 {

	//TODO: insert other positions
	.z-index-#{$i} {
		z-index: $i;
	}
}


//ratios

.ratio-square {
	aspect-ratio: 1 / 1;
}

.sm-ratio-square {
	@include media-breakpoint-up(sm) {
		aspect-ratio: 1 / 1;
	}
}

.md-ratio-square {
	@include media-breakpoint-up(md) {
		aspect-ratio: 1 / 1;
	}
}

.ratio-panoramic {
	aspect-ratio: 16 / 9;
}

//resets

.reset-button {
	border: none;
	color: inherit;
	padding: 0;

	&:hover {
		background: none;
		background-color: none;
		color: inherit;
	}

	&:focus {
		background-color: transparent;
	}
}

.reset-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: none;

		--bs-link-color-rgb: none !important;
	}
}

.reset-margin {
	margin: 0;
}

//text formatting

.croxo-font-text {
	font-family: 'Terminal Grotesque';
}

.croxo-font-text--deep {
	font-family: 'Terminal Grotesque';

	* {
		&:not(.material-symbols-outlined) {
			font-family: 'Terminal Grotesque';
		}
	}
}

.croxo-text-giant {
	font-size: $font-size-giant;
}

.croxo-text-giant-sm {
	font-size: $font-size-giant-sm;
}

.croxo-text-h1 {
	font-size: $font-size-h1;
}

.croxo-text-h1-xl {
	font-size: $font-size-h1-xl;
}

.croxo-text-h1-xxl {
	font-size: $font-size-h1-xxl;
}

.croxo-text-base {
	font-size: $font-size-text;
}

.croxo-text-label {
	font-size: $font-size-label;
}

.croxo-text-label-sm {
	font-size: $font-size-label-sm;
}

.croxo-icon-size-micro {
	font-size: 15px;
}

.croxo-grid-headline {
	font-size: $font-size-grid-headline-sm;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-grid-headline-md;
	}

	@include media-breakpoint-up(xl) {
		font-size: $font-size-grid-headline;
	}
}

.croxo-text-filter-item {
	font-size: $font-size-filter-item-sm;

	@include media-breakpoint-up(md) {
		font-size: $font-size-filter-item;
	}
}

.croxo-text-filter-reset {
	font-size: $font-size-material-icons-sm;

	@include media-breakpoint-up(md) {
		font-size: $font-size-material-icons;
	}
}

@for $i from 1 through 30 {
	.font-size-#{$i} {
		font-size: calc($i * 2px)
	}
}

//tilt
.tilt-b-2 {
	margin-bottom: -2px;
}

.tilt-b-3 {
	margin-bottom: -3px;
}

.tilt-b-4 {
	margin-bottom: -4px;
}

.tilt-b-5 {
	margin-bottom: -5px;
}

.tilt-l-2 {
	margin-left: -2px;
}

.tilt-r-2 {
	margin-right: -2px;
}

.tilt-l-18--hover {
	&:hover {
		margin-left: -18px;
	}
}

.tilt-r-18--hover {
	margin-right: 0px;

	&:hover {
		margin-right: -18px;
	}
}

.tilt-t-1 {
	margin-top: -1px;
}

.tilt-t-2 {
	margin-top: -2px;
}

.tilt-t-3 {
	margin-top: -3px;
}

.tilt-t-lg-6 {
	@include media-breakpoint-up(lg) {
		margin-top: -6px;
	}
}

//transform

.transform-reflect-horizontal {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.transform-reflect-horizontal--before {
	&::before {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
}

.transform-origin-center {
	transform-origin: center;
}

.transform-rotate-180 {
	transform: rotate(180deg);
}

//transition

.transition-all-550 {
	transition: all 550ms;
}

.transition-all-650 {
	transition: all 650ms;
}

//overwrites

.page-content {
	a {
		text-decoration: unset;
	}
}