//colors
$croxo-color-text: #212529;
$croxo-color-black: #333333;

//fonts
$croxo-font-text: 'Syne';

//text
$font-size-h1: 54px;
$font-size-h1-xl: 72px;
$font-size-h1-xxl: 84px;
$font-size-label-sm: 12px;
$font-size-label: 14px;
$font-size-text: 16px;
$font-size-giant-sm: 160px;
$font-size-giant: 222px;

$font-size-grid-headline: 20px;
$font-size-grid-headline-md: 18px;
$font-size-grid-headline-sm: 14px;

$font-size-filter-item: 16px; 
$font-size-filter-item-sm: 14px;

$font-size-material-icons: 24px;
$font-size-material-icons-sm: 18px;