.croxo-galinheiro--main-wrapper {
    .croxo-galinheiro--main-wrapper__header {
        .header__logo {
            img {
                height: 84px;
                width: auto;
            }
        }
    }

    .croxo-galinheiro--main-wrapper__events-list__future__title-container {
        .events-list-slide-to {
            span {
                font-size: 12px;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }
    
                .material-symbols-outlined {
                    @include media-breakpoint-up(md) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}