.menu-topnav-container {
    .menu {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            flex-shrink: 0;

            &:first-child {
                a {
                    border-left-width: 2px;
                }
            }

            a {
                border: 2px solid $croxo-color-black;
                border-bottom-width: 0px;
                border-left-width: 0px;
                color: $croxo-color-black;
                font-family: $croxo-font-text;
                font-weight: 600;
                font-size: 19px;
                letter-spacing: .2px;
                padding: 4px 8px;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 350ms;

                &:hover {
                    color: var(--acid-color);
                }
            }
        }
    }
}

.site-navigation--scroll {
	background-color: white;
	border-bottom: 2px solid var(--acid-color);
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: all 350ms;
	top: 0;
	z-index: 3;

	* {
		pointer-events: none;
	}

	&.site-navigation--scroll--show {
		opacity: 1;
		pointer-events: all;

		* {
			pointer-events: all;
		}
	}

	.croxo-icons {
		font-size: 48px;
	}

	.site-navigation {
		.menu-topnav-container {
			.menu {
				margin: 0;
			}
		}
	}
}

.menu-item--about {
	position: relative;

	&.menu-item--about--disabled {
		pointer-events: none;

		* {
			pointer-events: none;
		}

		.menu-item--about__wrapper {
			.menu-item--about__title {
				background-color: transparent;
				opacity: 0.2;
			}

			.menu-item--about__text {
				display: none;
			}
		}
	}

	.menu-item--about__wrapper {
		overflow: hidden;

		&:hover {
			bottom: var(--aboutMenuTextHeightNeg);

			.menu-item--about__text {
				margin-top: 0;
			}
		}

		.menu-item--about__title {
			align-self: stretch;
			background-color: white; 
			font-family: $croxo-font-text;
			font-weight: 600;
			padding: 4px 8px;
			text-align: right;
			text-transform: uppercase;
			z-index: 3;
		}

		.menu-item--about__text {
			background-color: white;
			border: 2px solid transparent;
			border-top: 0px !important;
			margin-top: var(--aboutMenuTextHeightNeg);
			z-index: 2;

			* {
				text-align: right;
			}

			a {
				color: black;
				padding-bottom: 3px;
				padding-left: 3px;
				padding-right: 0;
				margin-left: auto;
				width: fit-content;
			}

			p {
				margin: 0;
			}

			.material-symbols-outlined {
				font-family: 'Material Symbols Outlined' !important;
			}
		}
	}
}