.site-navigation {

	&.site-navigation--work-grid {
		justify-content: center;

		.menu-topnav-container {
			.menu {
				li {
					a {
						border-bottom-width: 0px;
					}
				}
			}
		}
	}

	.menu-topnav-container {
		.menu {
			display: flex;
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
				flex-shrink: 0;

				&:first-child {
					a {
						border-left-width: 2px;
					}
				}

				&.current-menu-item {
					background-color: var(--acid-color);

					&:hover {
						a {
							color: white;
						}
					}

					a {
						color: white;
					}
				}

				&.about-menu-item {
					&:hover {
						.about-menu-item__about-content {
							display: block !important;
						}
					}

					.about-menu-item__about-content {
						background-color: var(--acid-color);
						border: 2px solid $croxo-color-black;
						color: white;
						left: 18px;
						padding: 30px;
						padding-bottom: 21px !important;
						padding-top: 24px !important;
						position: absolute;
						top: 34px;
						width: 28vw;
						z-index: 3;

						* {
							color: white;
						}

						.about-menu-item__about-content__content {
							display: block;
							font-family: $croxo-font-text;
							font-size: 15px;
							font-weight: 550;
							line-height: 19px;
						}

						.about-menu-item__about-content__cta {
							border-color: white;
							border-bottom-width: 2px !important;
							border-left-width: 2px !important;
							justify-content: center;

							&:hover {
								background-color: white;

								span {
									color: var(--acid-color);
								}
							}

							span {
								display: block;
								font-size: 14px;
								font-weight: 700;
								text-align: center;
							}
						}
					}
				}

				a {
					border: 2px solid $croxo-color-black;
					border-left-width: 0px;
					color: $croxo-color-black;
					font-family: $croxo-font-text;
					font-weight: 600;
					font-size: 16px;
					letter-spacing: .2px;
					padding: 4px 8px;
					text-decoration: none;
					text-transform: uppercase;
					transition: all 350ms;

					&:hover {
						color: var(--acid-color);
					}
				}
			}
		}
	}

}

.site-navigation--scroll {
	background-color: white;
	border-bottom: 2px solid $croxo-color-black;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: all 350ms;
	top: 0;
	z-index: 3;

	* {
		pointer-events: none;
	}

	&.site-navigation--scroll--show {
		opacity: 1;
		pointer-events: all;

		* {
			pointer-events: all;
		}
	}

	.croxo-icons {
		font-size: 36px;
	}

	.site-navigation {
		.menu-topnav-container {
			height: 100%;
			.menu {
				height: 100%;
				margin: 0;
				.menu-item {
					a {
						align-items: center;
						border-bottom-width: 0 !important; 
						border-top-width: 0 !important;
						display: flex;
						padding-left: 24px;
					}
				}
			}
		}
	}
}

.menu-item--about {
	position: relative;

	&.menu-item--about--disabled {
		pointer-events: none;

		* {
			pointer-events: none;
		}

		.menu-item--about__wrapper {
			.menu-item--about__title {
				background-color: transparent;
				opacity: 0.2;
			}

			.menu-item--about__text {
				display: none;
			}
		}
	}

	.menu-item--about__wrapper {
		overflow: hidden;

		&:hover {
			bottom: var(--aboutMenuTextHeightNeg);

			.menu-item--about__text {
				margin-top: 0;
			}
		}

		.menu-item--about__title {
			align-self: stretch;
			background-color: white;
			font-family: $croxo-font-text;
			font-weight: 600;
			padding: 4px 8px;
			text-align: right;
			text-transform: uppercase;
			z-index: 3;
		}

		.menu-item--about__text {
			background-color: white;
			border: 2px solid transparent;
			border-top: 0px !important;
			margin-top: var(--aboutMenuTextHeightNeg);
			z-index: 2;

			* {
				text-align: right;
			}

			a {
				color: black;
				padding-bottom: 3px;
				padding-left: 3px;
				padding-right: 0;
				margin-left: auto;
				width: fit-content;
			}

			p {
				margin: 0;
			}

			.material-symbols-outlined {
				font-family: 'Material Symbols Outlined' !important;
			}
		}
	}
}