.croxo-mobile-filters-modal {
    .croxo-mobile-filters-modal__wrapper {
        margin-bottom: var(--filters-height);

        &.is-active {
            margin-bottom: 0;
        }

        .post-type-filter {
            border-left: 2px solid $croxo-color-black;

            .post-type-filter__top-bar {
                border-right: 2px solid $croxo-color-black;
            }

            .post-type-filter__wrapper {
                label {
                    border-left-width: 0px;
                    border-top-width: 0px; 

                    input {
                        &:checked {
                            &+span {
                                background-color: var(--acid-color);
                                color: white;
                            }
                        }
                    }

                    span {
                        height: 100%;
                        font-size: 16px;
                        padding-top: 13px !important;
                    }
                }
            }
        }
    }
}



.croxo-work-filters {
    position: relative;

    form {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        @include media-breakpoint-up(md) {
            left: initial;
            position: relative;
            right: initial;
            top: initial;
        }

        .post-type-filter {

            .post-type-filter__wrapper {

                &:first-child {
                    label {
                        &:first-child {
                            align-self: flex-start;
                            position: absolute !important;
                            order: 1;
                            right: 0;
                            top: 0;

                            @include media-breakpoint-up(md) {
                                position: relative !important;
                            }

                            @include media-breakpoint-up(lg) {
                                align-self: unset;
                                order: unset;
                            }
                        }
                    }
                }

                label {
                    border-left-width: 0px;
                    flex-shrink: 0;

                    &:first-child {
                        border-left-width: 2px;
                    }

                    @include media-breakpoint-up(lg) {
                        flex-shrink: unset;
                    }


                    &:not(:first-child) {
                        order: 0;

                        @include media-breakpoint-up(lg) {
                            order: unset;
                        }
                    }

                    input {
                        &:checked {
                            &+span {
                                background-color: var(--acid-color);
                                color: white;
                            }
                        }
                    }

                    span {
                        transition: all 350ms;
                    }

                    &.reset-btn {

                        span {
                            font-size: 16px;
                            transform-origin: center center;
                            transition: all 1150ms;

                            &:hover {
                                transform: rotate(-360deg);
                            }
                        }
                    }
                }
            }

        }
    }
}