.croxo-work-filters {
    form {
        .post-type-filter {
            background-color: white;
            bottom: 0;
            height: 35vh;
            left: 0;
            position: fixed;
            bottom: 0;
            width: 100vw;
            z-index: 3;

            @include media-breakpoint-up(sm) {
                background-color: unset;
                height: initial;
                position: relative;
                width: initial;
                z-index: initial;
            }

            .post-type-filter__wrapper {
                column-gap: 12px;

                &:first-child {
                    label {
                        &:first-child {
                            align-self: flex-start;
                            position: absolute !important;
                            order: 1;
                            right: 0;
                            top: 0;

                            @include media-breakpoint-up(md) {
                                position: relative !important;
                            }

                            @include media-breakpoint-up(lg) {
                                align-self: unset;
                                order: unset;
                            }
                        }
                    }
                }

                label {
                    flex-shrink: 0;

                    @include media-breakpoint-up(lg) {
                        flex-shrink: unset;
                    }


                    &:not(:first-child) {
                        order: 0;

                        @include media-breakpoint-up(lg) {
                            order: unset;
                        }
                    } 

                    input {
                        &:checked {
                            &+span {
                                border: 2px solid var(--acid-color);
                            }
                        }
                    }

                    span {
                        border: 2px solid transparent;
                        transition: all 350ms;
                    }

                    &.reset-btn {
                        transform-origin: center center;
                        transition: all 850ms; 
                        &:hover {
                            transform: rotate(-360deg);
                        }
                    }
                }
            }

        }
    }
}