.croxo-gallery {
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: allways;

	-webkit-overflow-scrolling: touch;

	//hide scrollbar
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	@include media-breakpoint-up(md) {
		height: unset;
	}

	&.croxo-gallery--img-focused {
		overflow-x: unset;

		.croxo-gallery__gallery-item {
			pointer-events: none !important;

			* {
				pointer-events: none !important;
			}
		}
	}

	&.croxo-gallery--galinheiro {
		@include media-breakpoint-up(md) {
			scroll-snap-type: unset;
		}

		.croxo-gallery__gallery-item {
			@include media-breakpoint-up(md) {
				flex-grow: 0;
				flex-basis: content;
				height: 300px;
				width: 100%;
			}
		}
	}

	.croxo-gallery__gallery-item {
		border: 2px solid $croxo-color-black;
		height: 300px;
		flex-shrink: 0;
		scroll-snap-align: start;
		transition: all 350ms;
		width: 100%;

		@include media-breakpoint-up(md) {
			flex-grow: 0;
			flex-basis: calc(0.333333333 * (100% - (24px*2)));
			height: initial;
			width: unset;
		}

		&:hover {
			border: 2px solid var(--acid-color);
		}

		.attachment-post-thumbnail {
			@include media-breakpoint-down(lg) {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		&.croxo-animations-gallery__video-wrapper {
			@include media-breakpoint-down(md) {
				position: relative;
			}

			&::after {
				@include media-breakpoint-down(md) {
					bottom: 0;
					content: ' ';
					left: 0;
					height: 80%;
					position: absolute;
					margin: auto 0;
					right: 0;
					top: 0;
					z-index: 3;
				}
			}
		}

		.croxo-gallery__gallery-item__img {
			user-drag: none;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}

	.croxo-gallery__lightbox {
		background-color: rgba($color: white, $alpha: .85);
		display: flex;
		z-index: 5;

		@include media-breakpoint-up(md) {
			background-color: rgba($color: white, $alpha: .65);
		}

		.croxo-gallery__lightbox__close-btn__wrapper {
			z-index: 5;

			.croxo-gallery__lightbox__close-btn__wrapper__btn {
				line-height: 0;

				span {
					align-items: center;
					justify-content: center;
					display: flex;
					transition: all 950ms ease-out;
					font-variation-settings:
						'FILL' 0,
						'wght' 700,
						'GRAD' 200,
						'opsz' 24;

					&:hover {
						transform: rotate(360deg);
						transform-origin: center;
					}
				}

				span {
					font-size: 24px;
				}
			}
		}

		.croxo-gallery__lightbox__nav-btns__wrapper {
			z-index: 6;
		}

		.croxo-gallery__lightbox__img-placeholder {
			background: var(--croxo-gallery-focused);
			height: auto;
			max-height: 80dvh;
			width: 90dvw;

			@include media-breakpoint-up(md) {
				height: 80dvh;
				width: auto;
			}

			img {
				border: 2px solid var(--acid-color);
				height: 100%;
				object-fit: cover;
				width: 100%;

				@include media-breakpoint-up(md) {
					object-fit: contain;
				}
			}
		}
	}
}